<nav class="navbar navbar-expand-lg static-top">
    <a class="navbar-brand" href="#">
      <img class="Navbar__logo" src="../assets/images/CapivaraOnly.png" alt="" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>


<header class="border-bottom-thick clearfix">
  <div class="left sm-width-full py-1 mt-1 ml-2 mt-lg-0">
    <a class="align-middle link-primary text-accent" href="{{ site.baseurl }}/{{page.lang}}">
      {{ site.title }}
    </a>
  </div>
  <div class="right sm-width-full">


    <ul class="list-reset right py-1 header-text font-smoothing">
      <!-- Pages -->
      {% assign pages = site.pages | where:"lang", page.lang %} {% for my_page
      in pages %} {% if my_page.title %}
      <li class="inline-block">
        <a
          class="align-middle link-primary header-link mr-2"
          href="{{ my_page.url | prepend: site.baseurl }}"
        >
          {{ my_page.title }}
        </a>
      </li>
      {% endif %} {% endfor %}
      <!--Language button -->
      <li class="inline-block">
        <div class="align-middle link-primary header-link mr-2 dropdown">

          <a class="dropbtn">{{
            site.data.translations['changeLanguage'][page.lang]
          }}</a>

          {% if page.layout == 'post' %}
            {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
            {% if posts.size == 0 %}
                {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
            {% endif %}
            {% if posts.size > 1 %}
              <div class="dropdown-content">
                {% for post in posts %}
                <a href="{{ site.base-url }}{{ post.url }}" class="{{ site.data.languages[post.lang].icon }} {{ site.data.languages[post.lang].label }} title="View in {{ site.data.languages[post.lang].icon }} {{ site.data.languages[post.lang].label }}">{{ site.data.languages[post.lang].icon }} {{ site.data.languages[post.lang].label }}</a>
                {% endfor %}
              </div>
            {% endif %}
          {% else %}
            <div class="dropdown-content">
              <a href="{{ site.baseurl }}/pt/"
                >{{ site.data.languages['pt'].icon }}
                {{ site.data.languages['pt'].label }}</a
              >
              <a href="{{ site.baseurl }}/en/"
                >{{ site.data.languages['en'].icon }}
                {{ site.data.languages['en'].label }}</a
              >
            </div>
          {% endif %}
        </div>
      </li>
    </ul>
  </div>
</header>
