<!-- Renders post date, title, and snippet of text. -->

<a
  class="PostBlock_link"
  title="{{ site.data.translations['readMore'][page.lang] }}"
  href="{{ post.url | prepend: site.baseurl }}"
>
  <div class="row PostBlock">
    <div class="col-sm-4 PostBlock__image">
      <img src="{{ post.image }}" alt="{{ post.title }}" />
    </div>
    <div class="col-sm-8 ">
      <h2 class="PostBlock_title">
        {{ post.title }}
      </h2>

      <p class="PostBlock_date_author">
        {{ post.date | date: '%b %-d, %Y' }}, {{ post.author }}
      </p>
      <p class="PostBlock_description">
        {{ post.content | strip_html | truncatewords: 30 }}
      </p>
    </div>
  </div>
</a>
