<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div>



            <div class="LanguageSwitcher">
              <div class="dropdown ">
                <button
                  class="btn btn-laguageSwitcher dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  {{ site.data.translations['changeLanguage'][page.lang] }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{{ site.baseurl }}/pt/"
                    >{{ site.data.languages['pt'].icon }}
                    {{ site.data.languages['pt'].label }}</a
                  >
                  <a class="dropdown-item" href="{{ site.baseurl }}/en/"
                    >{{ site.data.languages['en'].icon }}
                    {{ site.data.languages['en'].label }}</a
                  >
                </div>
              </div>
            </div>

        <div class="jumbotron HeaderFront">
          <div class="HearderFront__wrapper">
          <img class="HeaderFront__image" src="../assets/images/Capivara.png" alt="capivara-logo">
          <div class="HeaderFront__text">
          <p>{{ site.data.translations['description'][page.lang] }}</p>
          <p>
              {{ site.data.translations['contactUs'][page.lang] }}
            </p>
            <a href="https://github.com/capivara-ai" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
        <div>


    {% include footer.html %}
  </body>
</html>
